registry=http://localhost:8081/repository/npm-all
//localhost:8081/repository/npm-internal/:_auth=YWRtaW46MDQ2Y2QyMWYtNjJhMC00Y2E3LThmNWItY2IxNDVhYmVkY2Uz
email=mayezbr9@gmail.com
always-auth=true
strict-ssl=true
loglevel=silly